* {
  margin: none;
  padding: none;
}

body {
  font-family: "Quicksand", sans-serif;
}

main {
  height: calc(100vh - 57.5px - 120px);
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-cadastro {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 25px;
}

main section {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* .conteudo{
  display: flex;
  align-items: center;
  flex-direction: column; */
/* gap: 3rem; */
/* margin: 53px; */
/* } */
/* .conteudo p {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin: 30px;
} */

main section p {
  font-size: 20px;
  font-weight: 400;
  width: 1170px;
}

form,
#message-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 494px;
  height: 281px;
  background-color: #b6dfb0;
  padding: 30px;
  border-radius: 15px;
  /* gap: 1rem; */
}
#message-section p {
  width: 500px;
}

label {
  margin: 20px 0 10px 0;
}

input {
  border-radius: 10px;
  padding: 10px;
}

.teste {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
}
.btn {
  color: white;
  text-decoration: none;
  background-color: #d19804;
  border-radius: 20px;
  font-size: 30px;
  /* padding: 5px 20px; */
  /* border: solid 2px #333333; */
  margin: 35px;
}

.btn:hover {
  color: #d19804;
  background-color: white;
}

#message-section {
  display: none;
}

#nome-usuario {
  font-weight: bold;
}

#fotovolts {
  font-weight: bold;
}
