
body{
  font-family: "Quicksand", sans-serif;
}

header{
background: #006dc5;
height: 80px;
position: fixed;
top: 0;
width: 100%;
font-family: "Quicksand", sans-serif;
z-index: 999;
}

.logo-container{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    width: 1170px;
    align-items:center;
}

.logo-container__img{
    display: flex;
    width: 230px;
    height: 60px;
    margin-top: 8px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
   
}

li{
    background: #6fbf77;
    display: flex;
    justify-content: center;
    margin: 10px;
    height: 35px;
    width: 120px;
    align-items: center;
    border-radius: 10px;
}

nav li a{
    color:#f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
   
}


main{
    padding-top: 25px;
    padding-left: 12px;
    width: 1170px;
    margin: 0 auto;
    margin-top: 110px;
}

section{
 width: 1170px;
   
}

main h1{
    color:#006dc5;
    font-size: 2rem;  
    margin-top: px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: px;
    box-shadow: 2px 2px 2px #3904fa5b;
    font-size: 32px;
}

main h4{
    color:aliceblue;
    padding-bottom:10px;  
}

.h4-h5 {
    background-color: #006dc5;
    margin-top: 20px;
    margin-left: 18px;
    margin-right: 840px;
    margin-bottom: 40px;
    padding-top: 15px; 
    padding-left: 35px;  
    padding-right: 45px;
    padding-bottom: 40px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #070101;
}

.container-00 {
    display: flex;   
    justify-content: center;
    margin-top: 20px;
    text-align: justify;
}

.img-00{
    width: 400px;
    height:315px;
    border-radius: 10px;
}

.p-1{
    margin-left:15px;
    font-size: 1.2rem;
}

.container-01 {
    display: flex;   
    justify-content: center;
    margin-top: 20px;
    text-align: justify;
}

.img-01{
    width: 400px;
    height:320px;
    border-radius: 10px;
}

.p-2{
    margin-right:15px;
    font-size: 1.2rem;
}


.container-02 {
    display: flex;   
    justify-content: center;
    margin-top: 20px;
    text-align: justify;
}

.img-02{
    width: 400px;
    height:230px;
    border-radius: 10px;
}

.p-3{
    margin-right:15px;
    font-size: 1.2rem;
}
dialog::backdrop {
    background-color: rgba(10, 1, 139, 0.39);
}

dialog{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 0;
    padding-right: .3rem;
    border: none;
    border-radius: .9rem;
    box-shadow: 0 0 1em rgb(0 0 0 /.8);
    width: 32%;
    height: 350px;
}

#button-close{
    background: #0356f177;
    border-radius: .5rem;
    margin-top: .5rem;
}

main h2{
    background: #6fbf777c;
    margin-left: 700px;
    margin-right: 200px;
    margin-top: 150px;
    padding: .3rem .3rem .3rem .3rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    text-align:center;
}

.btn{
    background: #0356f177;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 175px;
    border-radius: .9rem;
    margin-left: 790px;
    margin-right: 200px;
}


footer{
    background: #011728;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    bottom: 0;
    margin-top: 30px;
    position: fixed;
    width: 100%;
    z-index: 999;
}