*{
    font-family:"Roboto", sans-serif;
    margin: 0;
    padding: 0;
}


body header{
    background: #006dc5;
    display:flex;
    justify-content: space-around;
    padding: 10px;
    align-items:center;
}

.logo{
 background: #0aeb0a; 
 margin-left: 150px;
 padding-top: 3px;
 padding-left: 8px;
 padding-bottom: 3px;
 padding-right: 8px;
 border-radius: 12px;
 box-shadow: 2px 2px 2px #000;
}

hr{
    color:orangered;
}

body header h2{
color:orangered;
 margin-top: 3px ;
 margin-left: 3px;
 margin-bottom: 3px;
 margin-right:645px;
}

ul{
 display: flex;
 }


nav ul li{
    list-style-type: none; 
}
   

nav ul li a {
    text-decoration: none;      
}

.btn-index, .btn-sobre, .btn-cadastro{
   background: #0aeb0a; 
   margin:5px;
   padding-top: 3px;
   padding-left: 15px;
   padding-bottom: 3px;
   padding-right: 15px;
   border-radius: 8px;
   box-shadow: 2px 2px 2px #000;

}

main{
    padding-top: 25px;
    padding-left: 12px;
    width: 900px;
    margin: 0 auto;
}


main h1 {
    display: flex;
    justify-content: center;
    color:#006dc5;
    font-size: 3rem;  
}

.p1{
    font-size: 18px;
    color:#0137aa;
    text-align: justify;

}

.imagens-autores{
    display: flex;
    justify-content: center;
}

.div-00, .div-01, .div-02{
 background-image: url(../img/Imagem.psobre.jpg);
 margin-top: 40px;
 margin-left: 75px;
 margin-bottom: 40px;
 margin-right: 75px;
 padding-top: 30px;
 padding-left: 6px;
 padding-bottom:75px;
 padding-right: 5px;
 border-radius: 20px ;
 box-shadow: 2px 2px 2px #0043c0;

}


#sobre{
    padding-top: 10px;
    color:rgb(253, 254, 255);
    box-shadow: 2px 2px 2px #040311a9;
}

.section-02{
 display:flex;
 
}

.div-03, .div-04, .div-05{
 padding-top: 16px;
 padding-left: 15px;
 padding-bottom: 6px;
 padding-right: 5px;
 
}

body footer{
    background-color: rgb(17, 23, 51);
    padding-top: 15px;
    padding-bottom: 15px;
    color:azure
}



   
    


    



    
   






